<v-dialog
v-model="purchaseDialog"
@click:outside="onClick_cancel"
fullscreen
>
    <v-card
    class="d-flex align-center flex-column justify-center"
    >
        <v-card-title
        class="text-h5"
        >
            {{text_cardTitle}}
        </v-card-title>
        <v-container
        class="pa-6"
        >
            <v-row>
                <v-col
                xs="12"
                sm="6"
                class="ml-auto mr-auto"
                >
                    <v-form
                    ref="form"
                    v-model="valid_purchaseForm"
                    >
                        <v-text-field
                        label="商品編號"
                        :value="productSku"
                        prepend-icon="mdi-identifier"
                        readonly
                        ></v-text-field>
                        <v-text-field
                        label="商品名稱"
                        :value="productName"
                        prepend-icon="mdi-text-short"
                        readonly
                        ></v-text-field>
                        <v-text-field
                        label="目前剩餘庫存"
                        :value="productStocks"
                        prepend-icon="mdi-package-variant"
                        readonly
                        ></v-text-field>
                        <v-text-field
                        v-model="purchaseQty"
                        :rules="text_requiredRules_isNumber"
                        label="進貨數量"
                        prepend-icon="mdi-package-variant"
                        v-on:keydown.enter.prevent="onClick_confirm"
                        autofocus
                        required
                        ></v-text-field>
                    </v-form>
                </v-col>
            </v-row>
        </v-container>

        <v-card-actions
        class="pa-6 pt-3"
        >
            <v-spacer></v-spacer>
            <v-btn
            outlined
            rounded
            text
            @click.stop="onClick_cancel"
            >
                取消
            </v-btn>
            <v-btn
            outlined
            rounded
            text
            :disabled="!valid_purchaseForm"
            @click.stop="onClick_confirm"
            >
                {{text_confirmBtn}}
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>