<v-dialog
v-model="productDialog"
@click:outside="onClick_cancel"
fullscreen
>
    <v-card
    class="d-flex align-center flex-column justify-center"
    width="100"
    >
        <v-card-title
        class="text-h5 mt-4"
        >
            {{text_cardTitle}}
        </v-card-title>
        <v-container
        class="pa-6"
        fluid
        >
            <v-form
            ref="form"
            v-model="valid_productForm"
            >
                <v-row 
                class="ma-0 d-flex justify-center"
                >
                    <v-col
                    cols="6"
                    sm="4"
                    md="3"
                    >
                        <v-text-field
                        ref="textFieldWidth"
                        label="商品編號"
                        v-model="productSku"
                        :rules="text_requiredRules"
                        prepend-icon="mdi-identifier"
                        v-on:keydown.enter.prevent="onClick_confirm"
                        autofocus
                        required
                        dense
                        ></v-text-field>
                    </v-col>
                    <v-col
                    cols="6"
                    sm="4"
                    md="3"
                    >
                        <v-text-field
                        label="採購商品編號"
                        v-model="purchaseProductID"
                        :rules="text_requiredRules"
                        prepend-icon="mdi-identifier"
                        v-on:keydown.enter.prevent="onClick_confirm"
                        required
                        dense
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row 
                class="ma-0 d-flex justify-center"
                >
                    <v-col
                    cols="6"
                    sm="4"
                    md="3"
                    >
                        <v-select
                        class="overflow-hidden"
                        label="廠商"
                        v-model="firmID"
                        :rules="text_requiredRules"
                        prepend-icon="mdi-store-outline"
                        :items="firmList"
                        item-text="Name"
                        item-value="ID"
                        required
                        dense
                        full-width
                        ></v-select>
                    </v-col>
                    <v-col
                    cols="6"
                    sm="4"
                    md="3"
                    >
                        <v-select
                        label="商品種類"
                        v-model="productType"
                        :rules="text_requiredRules"
                        prepend-icon="mdi-store-outline"
                        :items="typeList"
                        item-text="name"
                        item-value="val"
                        required
                        dense
                        full-width
                        ></v-select>
                    </v-col>
                </v-row>
                <v-row 
                class="ma-0 d-flex justify-center"
                >
                    <v-col
                    cols="6"
                    sm="4"
                    md="3"
                    >
                        <v-text-field
                        label="商品名稱"
                        v-model="productName"
                        :rules="text_requiredRules"
                        prepend-icon="mdi-text-short"
                        v-on:keydown.enter.prevent="onClick_confirm"
                        required
                        dense
                        ></v-text-field>
                    </v-col>
                    <v-col
                    cols="6"
                    sm="4"
                    md="3"
                    >
                        <v-text-field
                        label="商品重量(g)"
                        v-model="productWeight"
                        :rules="text_requiredRules_isNumber"
                        prepend-icon="mdi-weight-gram"
                        v-on:keydown.enter.prevent="onClick_confirm"
                        required
                        dense
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row 
                class="ma-0 d-flex justify-center"
                >
                    <v-col
                    cols="12"
                    sm="8"
                    md="6"
                    >
                        <v-file-input
                        id="imgFile" 
                        ref="imgFile"
                        clearable
                        v-model="imgFile"
                        truncate-length="15"
                        prepend-icon="mdi-image"
                        @click:clear="clearFileInput"
                        label="商品圖片"
                        dense
                        ></v-file-input>
                    </v-col>
                </v-row >
                <v-row 
                class="ma-0 d-flex justify-center"
                >
                    <v-col
                    cols="6"
                    sm="4"
                    md="3"
                    >
                        <v-text-field
                        label="批價(KRW)"
                        v-model="krwWholesalePrice"
                        :rules="text_requiredRules_isNumber"
                        prepend-icon="mdi-currency-krw"
                        v-on:keydown.enter.prevent="onClick_confirm"
                        required
                        dense
                        ></v-text-field>
                    </v-col>
                    <v-col
                    cols="6"
                    sm="4"
                    md="3"
                    >
                        <v-text-field
                        label="批價(TWD)"
                        v-model="ntdWholesalePrice"
                        :placeholder="calc_ntdWholesalePrice()"
                        :rules="text_requiredRules_isNumber"
                        prepend-icon="mdi-currency-twd"
                        v-on:keydown.enter.prevent="onClick_confirm"
                        required
                        dense
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row 
                class="ma-0 d-flex justify-center"
                >
                    <v-col
                    cols="6"
                    sm="4"
                    md="3"
                    >
                        <v-text-field
                        label="定價(TWD)"
                        v-model="ntdListPrice"
                        :placeholder="calc_listPrice()"
                        :rules="text_requiredRules_isNumber"
                        prepend-icon="mdi-currency-twd"
                        v-on:keydown.enter.prevent="onClick_confirm"
                        required
                        dense
                        ></v-text-field>
                    </v-col>
                    <v-col
                    cols="6"
                    sm="4"
                    md="3"
                    >
                        <v-text-field
                        label="售價(TWD)"
                        v-model="ntdSellingPrice"
                        :rules="text_requiredRules_isNumber"
                        prepend-icon="mdi-currency-twd"
                        v-on:keydown.enter.prevent="onClick_confirm"
                        required
                        dense
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row 
                class="ma-0 d-flex justify-center"
                >
                    <v-col
                    cols="6"
                    sm="4"
                    md="3"
                    >
                        <v-text-field
                        label="含稅運成本(TWD)"
                        v-model="ntdCnf"
                        :placeholder="calc_cnfCost()"
                        :rules="text_requiredRules_isNumber"
                        prepend-icon="mdi-currency-twd"
                        v-on:keydown.enter.prevent="onClick_confirm"
                        required
                        dense
                        ></v-text-field>
                    </v-col>
                    <v-col
                    cols="6"
                    sm="4"
                    md="3"
                    >
                        <v-text-field
                        label="總成本(TWD)"
                        v-model="ntdCost"
                        :placeholder="calc_cost()"
                        :rules="text_requiredRules_isNumber"
                        prepend-icon="mdi-currency-twd"
                        v-on:keydown.enter.prevent="onClick_confirm"
                        required
                        dense
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row 
                class="ma-0 d-flex justify-center"
                >
                    <v-col
                    cols="6"
                    sm="4"
                    md="3"
                    >
                        <v-text-field
                        label="毛利(TWD)"
                        v-model="grossMargin"
                        prepend-icon="mdi-currency-twd"
                        dense
                        disabled
                        ></v-text-field>
                    </v-col>
                    <v-col
                    cols="6"
                    sm="4"
                    md="3"
                    >
                        <v-text-field
                        label="毛利率(%)"
                        v-model="profitMargin"
                        prepend-icon="mdi-percent"
                        dense
                        disabled
                        ></v-text-field>
                    </v-col>
                </v-row>
            </v-form>
        </v-container>
        <div
        class="pa-6 pt-3"
        >

            <v-btn
            class="mx-2"
            outlined
            rounded
            text
            @click.stop="onClick_cancel"
            >
                取消
            </v-btn>
            <v-btn
            class="mx-2"
            outlined
            rounded
            text
            :disabled="!valid_productForm"
            @click.stop="onClick_confirm"
            >
                {{text_confirmBtn}}
            </v-btn>
        </div>
    </v-card>
</v-dialog>