<v-dialog
v-model="settingDialog"
@click:outside="onClick_cancel"
fullscreen
>
    <v-card
    class="d-flex align-center flex-column justify-center"
    >
        <v-card-title
        class="text-h5"
        >
            {{text_cardTitle}}
        </v-card-title>
        <v-container
        class="pa-6"
        >
            <v-row>
                <v-col
                cols="12"
                sm="6"
                class="ml-auto mr-auto"
                >
                    <v-form
                    ref="form"
                    v-model="valid_settingForm"
                    >
                        <v-text-field
                        label="大叔抽成(%)"
                        v-model="ajeossi"
                        :rules="text_requiredRules_isNumber"
                        prepend-icon="mdi-truck"
                        v-on:keydown.enter.prevent="onClick_confirm"
                        autofocus
                        required
                        ></v-text-field>
                        <v-text-field
                        label="國際運費"
                        v-model="shippingFee"
                        :rules="text_requiredRules_isNumber"
                        prepend-icon="mdi-ferry"
                        v-on:keydown.enter.prevent="onClick_confirm"
                        required
                        ></v-text-field>
                        <v-text-field
                        label="匯率"
                        v-model="exchangeRate"
                        :rules="text_requiredRules_isNumber"
                        prepend-icon="mdi-cash-marker"
                        v-on:keydown.enter.prevent="onClick_confirm"
                        required
                        ></v-text-field>
                        <v-text-field
                        label="關稅"
                        v-model="tariff"
                        :rules="text_requiredRules_isNumber"
                        prepend-icon="mdi-cash-lock"
                        v-on:keydown.enter.prevent="onClick_confirm"
                        required
                        ></v-text-field>
                        <v-text-field
                        label="定價倍率"
                        v-model="markup"
                        :rules="text_requiredRules_isNumber"
                        prepend-icon="mdi-cash-plus"
                        v-on:keydown.enter.prevent="onClick_confirm"
                        required
                        ></v-text-field>
                    </v-form>
                </v-col>
            </v-row>
        </v-container>

        <v-card-actions
        class="pa-6 pt-3"
        >
            <v-spacer></v-spacer>
            <v-btn
            outlined
            rounded
            text
            @click.stop="onClick_cancel"
            >
                取消
            </v-btn>
            <v-btn
            outlined
            rounded
            text
            :disabled="!valid_settingForm"
            @click.stop="onClick_confirm"
            >
                {{text_confirmBtn}}
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>