<v-dialog
v-model="confirmDialog"
@click:outside="onClick_cancel"
v-on:keydown.enter.prevent="onClick_confirm"
fullscreen
>
    <v-card
    class="d-flex align-center flex-column justify-center"
    >
        <v-card-title
        class="text-h5"
        >
            {{text_cardTitle}}
        </v-card-title>
        <v-container
        class="pa-6"
        >
            <v-row>
                <v-col
                xs="12"
                sm="6"
                class="ml-auto mr-auto"
                >
                    <div
                    v-if="deleteTarget"
                    class="d-flex flex-column justify-center align-center"
                    >

                        <h2
                        v-if="deleteTarget.Name != null"
                        >
                        {{deleteTarget.Name}}
                        </h2>
                        <h2
                        v-else
                        >
                        {{deleteTarget.ProductName}}
                        </h2>
                        <h4
                        v-if="deleteTarget.ID != null"
                        class="font-weight-thin"
                        >
                        {{deleteTarget.ID}}
                        </h4>
                        <h4
                        v-else
                        class="font-weight-thin"
                        >
                        {{deleteTarget.ProductID}}
                        </h4>
                    </div>
                </v-col>
            </v-row>
        </v-container>

        <v-card-actions
        class="pa-6 pt-3"
        >
            <v-spacer></v-spacer>
            <v-btn
            outlined
            rounded
            text
            @click.stop="onClick_cancel"
            >
                取消
            </v-btn>
            <v-btn
            outlined
            rounded
            text
            @click.stop="onClick_confirm"
            >
                {{text_confirmBtn}}
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>